body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  position:absolute;
  left:32px;
  top:103px;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:461px;
  height:47px;
  background-image:none;
}
#u69_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:386px;
  height:49px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:46px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:4px;
  width:366px;
  height:40px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:40px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:49px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:0px;
  width:77px;
  height:46px;
  color:#CCCCCC;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:15px;
  width:33px;
  height:14px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u69_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:461px;
  height:47px;
  visibility:hidden;
  background-image:none;
}
#u69_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:386px;
  height:49px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:46px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:4px;
  width:366px;
  height:40px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:49px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:0px;
  width:77px;
  height:46px;
  color:#CCCCCC;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:15px;
  width:33px;
  height:14px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u69_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:461px;
  height:47px;
  visibility:hidden;
  background-image:none;
}
#u69_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:386px;
  height:49px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:46px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:4px;
  width:366px;
  height:40px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:49px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:0px;
  width:77px;
  height:46px;
  color:#CCCCCC;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:15px;
  width:33px;
  height:14px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:78px;
  width:35px;
  height:24px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  color:#FF6F32;
}
#u82_img.selected {
}
#u82.selected {
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:78px;
  width:35px;
  height:24px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  color:#FF6F32;
}
#u83_img.selected {
}
#u83.selected {
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:78px;
  width:35px;
  height:24px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  color:#FF6F32;
}
#u84_img.selected {
}
#u84.selected {
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:108px;
  width:36px;
  height:36px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:117px;
  width:18px;
  height:18px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:29px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:32px;
  width:302px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
